### Informasi Dataset
Dataset NYC Property Sales from Kaggle. This dataset is a record of every building or building unit (apartment, etc) sold in New York City property market over a 12-month period from September 2016 to September 2017. <br>

In [2]:
# Import pustaka yang diperlukan

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from scipy.stats import gaussian_kde
%matplotlib inline

### Membaca Dataset

In [56]:
# Jika terdeteksi value seperti di missing_values, define sebagai missing value yang nantinya bisa dihapus
missing_values = ['n/a', 'na', "--", "?", "NA", 'n-a', 'NaN']
df_nyc_sales = pd.read_csv('dataset/nyc-rolling-sales.csv', na_values=missing_values)

In [57]:
df_nyc_sales.head(20)

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00
5,9,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,405,16,,C4,516 EAST 12TH STREET,...,20,0,20,2581,9730,1900,2,C4,-,2017-07-20 00:00:00
6,10,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,,C4,210 AVENUE B,...,8,0,8,1750,4226,1920,2,C4,3192840,2016-09-23 00:00:00
7,11,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,407,18,,C7,520 EAST 14TH STREET,...,44,2,46,5163,21007,1900,2,C7,-,2017-07-20 00:00:00
8,12,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,379,34,,D5,141 AVENUE D,...,15,0,15,1534,9198,1920,2,D5,-,2017-06-20 00:00:00
9,13,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,,D9,629 EAST 5TH STREET,...,24,0,24,4489,18523,1920,2,D9,16232000,2016-11-07 00:00:00
10,14,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,394,44,,D7,181 AVENUE C,...,30,4,34,4295,21328,1910,2,D7,-,2017-07-20 00:00:00
11,15,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2B,400,21,,D1,530-532 EAST 5TH STREET,...,10,0,10,3717,12350,2009,2,D1,10350000,2016-10-17 00:00:00
12,16,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,,C6,"327 EAST 3 STREET, 1C",...,0,0,0,-,-,1920,2,C6,1,2016-09-06 00:00:00
13,17,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,,C6,"327 EAST 3 STREET, 1C",...,0,0,0,-,-,1920,2,C6,499000,2017-03-10 00:00:00
14,18,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,,C6,"327 EAST 3 STREET, 3A",...,0,0,0,-,-,1920,2,C6,10,2017-04-28 00:00:00
15,19,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,,C6,"327 EAST 3RD STREET, 5A",...,0,0,0,-,-,1920,2,C6,529500,2017-06-09 00:00:00
16,20,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,,C6,"327 EAST 3 STREET, 2E",...,0,0,0,-,-,1920,2,C6,423000,2017-07-14 00:00:00
17,21,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,46,,C6,"317 EAST 3RD STREET, 12",...,0,0,0,-,-,1925,2,C6,501000,2017-03-16 00:00:00
18,22,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,49,,C6,"311 EAST 3RD STREET, 17",...,0,0,0,-,-,1920,2,C6,450000,2016-09-01 00:00:00
19,23,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,49,,C6,"311 EAST 3RD, 22",...,0,0,0,-,-,1920,2,C6,510000,2017-08-17 00:00:00

### Preproccessing

In [58]:
# Mengetahui dimensi dataset
df_nyc_sales.shape

(84548, 22)

In [61]:
# Mengetahui adanya null values tiap kolom dengan tipe datanya
df_nyc_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      84548 non-null  int64
 1   BOROUGH                         84548 non-null  int64
 2   NEIGHBORHOOD                    84548 non-null  object
 3   BUILDING CLASS CATEGORY         84548 non-null  object
 4   TAX CLASS AT PRESENT            84548 non-null  object
 5   BLOCK                           84548 non-null  int64
 6   LOT                             84548 non-null  int64
 7   EASE-MENT                       84548 non-null  object
 8   BUILDING CLASS AT PRESENT       84548 non-null  object
 9   ADDRESS                         84548 non-null  object
 10  APARTMENT NUMBER                84548 non-null  object
 11  ZIP CODE                        84548 non-null  int64
 12  RESIDENTIAL UNITS               84548 non-null  int64
 13  COMMERCIAL UNITS                84548 non-null  int64
 14  TOTAL UNITS                     84548 non-null  int64
 15  LAND SQUARE FEET                84548 non-null  object
 16  GROSS SQUARE FEET               84548 non-null  object
 17  YEAR BUILT                      84548 non-null  int64
 18  TAX CLASS AT TIME OF SALE       84548 non-null  int64
 19  BUILDING CLASS AT TIME OF SALE  84548 non-null  object
 20  SALE PRICE                      84548 non-null  object
 21  SALE DATE                       84548 non-null  object
dtypes: int64(10), object(12)
memory usage: 14.2+ MB

In [60]:
# Tampilkan jumlah missing_values  
df_nyc_sales.isna().sum()

Unnamed: 0                        0
BOROUGH                           0
NEIGHBORHOOD                      0
BUILDING CLASS CATEGORY           0
TAX CLASS AT PRESENT              0
BLOCK                             0
LOT                               0
EASE-MENT                         0
BUILDING CLASS AT PRESENT         0
ADDRESS                           0
APARTMENT NUMBER                  0
ZIP CODE                          0
RESIDENTIAL UNITS                 0
COMMERCIAL UNITS                  0
TOTAL UNITS                       0
LAND SQUARE FEET                  0
GROSS SQUARE FEET                 0
YEAR BUILT                        0
TAX CLASS AT TIME OF SALE         0
BUILDING CLASS AT TIME OF SALE    0
SALE PRICE                        0
SALE DATE                         0
dtype: int64

In [50]:
# Tampilkan unqiue value tiap kolom untuk analisis adanya missing_value bentuk lain
for col in df_nyc_sales:
    print('============= UNIQUE_VALUE COL {0} ============='.format(col))
    print(df_nyc_sales[col].unique())
    print()

============= UNIQUE_VALUE COL Unnamed: 0 =============
[    4     5     6 ... 26737 26738 26739]

============= UNIQUE_VALUE COL BOROUGH =============
[1 2 3 4 5]

============= UNIQUE_VALUE COL NEIGHBORHOOD =============
['ALPHABET CITY' 'CHELSEA' 'CHINATOWN' 'CIVIC CENTER' 'CLINTON'
 'EAST VILLAGE' 'FASHION' 'FINANCIAL' 'FLATIRON' 'GRAMERCY'
 'GREENWICH VILLAGE-CENTRAL' 'GREENWICH VILLAGE-WEST' 'HARLEM-CENTRAL'
 'HARLEM-EAST' 'HARLEM-UPPER' 'HARLEM-WEST' 'INWOOD' 'JAVITS CENTER'
 'KIPS BAY' 'LITTLE ITALY' 'LOWER EAST SIDE' 'MANHATTAN VALLEY'
 'MIDTOWN CBD' 'MIDTOWN EAST' 'MIDTOWN WEST' 'MORNINGSIDE HEIGHTS'
 'MURRAY HILL' 'ROOSEVELT ISLAND' 'SOHO' 'SOUTHBRIDGE' 'TRIBECA'
 'UPPER EAST SIDE (59-79)' 'UPPER EAST SIDE (79-96)'
 'UPPER EAST SIDE (96-110)' 'UPPER WEST SIDE (59-79)'
 'UPPER WEST SIDE (79-96)' 'UPPER WEST SIDE (96-116)'
 'WASHINGTON HEIGHTS LOWER' 'WASHINGTON HEIGHTS UPPER' 'BATHGATE'
 'BAYCHESTER' 'BEDFORD PARK/NORWOOD' 'BELMONT' 'BRONX PARK' 'BRONXDALE'
 'CASTLE HILL/UNIONPORT' 'CITY ISLAND' 'CITY ISLAND-PELHAM STRIP'
 'CO-OP CITY' 'COUNTRY CLUB' 'CROTONA PARK' 'EAST RIVER' 'EAST TREMONT'
 'FIELDSTON' 'FORDHAM' 'HIGHBRIDGE/MORRIS HEIGHTS' 'HUNTS POINT'
 'KINGSBRIDGE HTS/UNIV HTS' 'KINGSBRIDGE/JEROME PARK' 'MELROSE/CONCOURSE'
 'MORRIS PARK/VAN NEST' 'MORRISANIA/LONGWOOD' 'MOTT HAVEN/PORT MORRIS'
 'MOUNT HOPE/MOUNT EDEN' 'PARKCHESTER' 'PELHAM BAY' 'PELHAM GARDENS'
 'PELHAM PARKWAY NORTH' 'PELHAM PARKWAY SOUTH' 'RIVERDALE'
 'SCHUYLERVILLE/PELHAM BAY' 'SOUNDVIEW' 'THROGS NECK' 'VAN CORTLANDT PARK'
 'WAKEFIELD' 'WESTCHESTER' 'WILLIAMSBRIDGE' 'WOODLAWN' 'BATH BEACH'
 'BAY RIDGE' 'BEDFORD STUYVESANT' 'BENSONHURST' 'BERGEN BEACH'
 'BOERUM HILL' 'BOROUGH PARK' 'BRIGHTON BEACH' 'BROOKLYN HEIGHTS'
 'BROWNSVILLE' 'BUSH TERMINAL' 'BUSHWICK' 'CANARSIE' 'CARROLL GARDENS'
 'CLINTON HILL' 'COBBLE HILL' 'COBBLE HILL-WEST' 'CONEY ISLAND'
 'CROWN HEIGHTS' 'CYPRESS HILLS' 'DOWNTOWN-FULTON FERRY'
 'DOWNTOWN-FULTON MALL' 'DOWNTOWN-METROTECH' 'DYKER HEIGHTS'
 'EAST NEW YORK' 'FLATBUSH-CENTRAL' 'FLATBUSH-EAST'
 'FLATBUSH-LEFFERTS GARDEN' 'FLATBUSH-NORTH' 'FLATLANDS' 'FORT GREENE'
 'GERRITSEN BEACH' 'GOWANUS' 'GRAVESEND' 'GREENPOINT' 'JAMAICA BAY'
 'KENSINGTON' 'MADISON' 'MANHATTAN BEACH' 'MARINE PARK' 'MIDWOOD'
 'MILL BASIN' 'NAVY YARD' 'OCEAN HILL' 'OCEAN PARKWAY-NORTH'
 'OCEAN PARKWAY-SOUTH' 'OLD MILL BASIN' 'PARK SLOPE' 'PARK SLOPE SOUTH'
 'PROSPECT HEIGHTS' 'RED HOOK' 'SEAGATE' 'SHEEPSHEAD BAY' 'SPRING CREEK'
 'SUNSET PARK' 'WILLIAMSBURG-CENTRAL' 'WILLIAMSBURG-EAST'
 'WILLIAMSBURG-NORTH' 'WILLIAMSBURG-SOUTH' 'WINDSOR TERRACE'
 'WYCKOFF HEIGHTS' 'AIRPORT LA GUARDIA' 'ARVERNE' 'ASTORIA' 'BAYSIDE'
 'BEECHHURST' 'BELLE HARBOR' 'BELLEROSE' 'BRIARWOOD' 'BROAD CHANNEL'
 'CAMBRIA HEIGHTS' 'COLLEGE POINT' 'CORONA' 'DOUGLASTON' 'EAST ELMHURST'
 'ELMHURST' 'FAR ROCKAWAY' 'FLORAL PARK' 'FLUSHING MEADOW PARK'
 'FLUSHING-NORTH' 'FLUSHING-SOUTH' 'FOREST HILLS' 'FRESH MEADOWS'
 'GLEN OAKS' 'GLENDALE' 'HAMMELS' 'HILLCREST' 'HOLLIS' 'HOLLIS HILLS'
 'HOLLISWOOD' 'HOWARD BEACH' 'JACKSON HEIGHTS' 'JAMAICA' 'JAMAICA ESTATES'
 'JAMAICA HILLS' 'KEW GARDENS' 'LAURELTON' 'LITTLE NECK'
 'LONG ISLAND CITY' 'MASPETH' 'MIDDLE VILLAGE' 'NEPONSIT'
 'OAKLAND GARDENS' 'OZONE PARK' 'QUEENS VILLAGE' 'REGO PARK'
 'RICHMOND HILL' 'RIDGEWOOD' 'ROCKAWAY PARK' 'ROSEDALE'
 'SO. JAMAICA-BAISLEY PARK' 'SOUTH JAMAICA' 'SOUTH OZONE PARK'
 'SPRINGFIELD GARDENS' 'ST. ALBANS' 'SUNNYSIDE' 'WHITESTONE' 'WOODHAVEN'
 'WOODSIDE' 'ANNADALE' 'ARDEN HEIGHTS' 'ARROCHAR' 'ARROCHAR-SHORE ACRES'
 'BLOOMFIELD' 'BULLS HEAD' 'CASTLETON CORNERS' 'CLOVE LAKES' 'CONCORD'
 'CONCORD-FOX HILLS' 'DONGAN HILLS' 'DONGAN HILLS-COLONY'
 'DONGAN HILLS-OLD TOWN' 'ELTINGVILLE' 'EMERSON HILL' 'FRESH KILLS'
 'GRANT CITY' 'GRASMERE' 'GREAT KILLS' 'GREAT KILLS-BAY TERRACE'
 'GRYMES HILL' 'HUGUENOT' 'LIVINGSTON' 'MANOR HEIGHTS' 'MARINERS HARBOR'
 'MIDLAND BEACH' 'NEW BRIGHTON' 'NEW BRIGHTON-ST. GEORGE' 'NEW DORP'
 'NEW DORP-BEACH' 'NEW DORP-HEIGHTS' 'NEW SPRINGVILLE' 'OAKWOOD'
 'OAKWOOD-BEACH' 'PLEASANT PLAINS' 'PORT IVORY' 'PORT RICHMOND'
 'PRINCES BAY' 'RICHMONDTOWN' 'RICHMONDTOWN-LIGHTHS HILL' 'ROSEBANK'
 'ROSSVILLE' 'ROSSVILLE-CHARLESTON' 'ROSSVILLE-PORT MOBIL'
 'ROSSVILLE-RICHMOND VALLEY' 'SILVER LAKE' 'SOUTH BEACH' 'STAPLETON'
 'STAPLETON-CLIFTON' 'TODT HILL' 'TOMPKINSVILLE' 'TOTTENVILLE' 'TRAVIS'
 'WEST NEW BRIGHTON' 'WESTERLEIGH' 'WILLOWBROOK' 'WOODROW']

============= UNIQUE_VALUE COL BUILDING CLASS CATEGORY =============
['07 RENTALS - WALKUP APARTMENTS             '
 '08 RENTALS - ELEVATOR APARTMENTS           '
 '09 COOPS - WALKUP APARTMENTS               '
 '10 COOPS - ELEVATOR APARTMENTS             '
 '11A CONDO-RENTALS                           '
 '12 CONDOS - WALKUP APARTMENTS              '
 '13 CONDOS - ELEVATOR APARTMENTS            '
 '14 RENTALS - 4-10 UNIT                     '
 '15 CONDOS - 2-10 UNIT RESIDENTIAL          '
 '16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT '
 '17 CONDO COOPS                             '
 '22 STORE BUILDINGS                         '
 '37 RELIGIOUS FACILITIES                    '
 '42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC  '
 '46 CONDO STORE BUILDINGS                   '
 '47 CONDO NON-BUSINESS STORAGE              '
 '01 ONE FAMILY DWELLINGS                    '
 '02 TWO FAMILY DWELLINGS                    '
 '03 THREE FAMILY DWELLINGS                  '
 '04 TAX CLASS 1 CONDOS                      '
 '21 OFFICE BUILDINGS                        '
 '23 LOFT BUILDINGS                          '
 '25 LUXURY HOTELS                           '
 '26 OTHER HOTELS                            '
 '28 COMMERCIAL CONDOS                       '
 '29 COMMERCIAL GARAGES                      '
 '35 INDOOR PUBLIC AND CULTURAL FACILITIES   '
 '38 ASYLUMS AND HOMES                       '
 '43 CONDO OFFICE BUILDINGS                  '
 '44 CONDO PARKING                           '
 '48 CONDO TERRACES/GARDENS/CABANAS          '
 '31 COMMERCIAL VACANT LAND                  '
 '32 HOSPITAL AND HEALTH FACILITIES          '
 '41 TAX CLASS 4 - OTHER                     '
 '18 TAX CLASS 3 - UNTILITY PROPERTIES       '
 '30 WAREHOUSES                              '
 '36 OUTDOOR RECREATIONAL FACILITIES         '
 '49 CONDO WAREHOUSES/FACTORY/INDUS          '
 '34 THEATRES                                '
 '27 FACTORIES                               '
 '40 SELECTED GOVERNMENTAL FACILITIES        '
 '45 CONDO HOTELS                            '
 '33 EDUCATIONAL FACILITIES                  '
 '11 SPECIAL CONDO BILLING LOTS              '
 '05 TAX CLASS 1 VACANT LAND                 '
 '06 TAX CLASS 1 - OTHER                     '
 '39 TRANSPORTATION FACILITIES               ']

============= UNIQUE_VALUE COL TAX CLASS AT PRESENT =============
['2A' '2' '2B' '2C' ' ' '4' '1' '1C' '3' '1A' '1B']

============= UNIQUE_VALUE COL BLOCK =============
[ 392  399  402 ... 6918 7074 7092]

============= UNIQUE_VALUE COL LOT =============
[  6  26  39 ... 655 423 679]

============= UNIQUE_VALUE COL EASE-MENT =============
[' ']

============= UNIQUE_VALUE COL BUILDING CLASS AT PRESENT =============
['C2' 'C7' 'C4' 'D5' 'D9' 'D7' 'D1' 'C6' 'D0' 'D4' 'RR' ' ' 'R2' 'R4' 'S3'
 'S4' 'S5' 'R1' 'R8' 'R9' 'K4' 'M9' 'M3' 'RK' 'RS' 'A9' 'A4' 'B3' 'B1'
 'S2' 'C0' 'R6' 'C5' 'C3' 'C1' 'D6' 'S9' 'O2' 'O1' 'O3' 'O5' 'O6' 'K1'
 'K2' 'L9' 'L8' 'L1' 'H1' 'H8' 'H3' 'R5' 'G6' 'P7' 'M1' 'N2' 'RB' 'RG'
 'RT' 'K9' 'V1' 'GW' 'G2' 'I7' 'M4' 'Z9' 'B9' 'D3' 'G9' 'I9' 'U6' 'O4'
 'L3' 'H2' 'E1' 'Z3' 'RW' 'C9' 'J5' 'N9' 'S1' 'A5' 'J8' 'B2' 'C8' 'F5'
 'Q1' 'G7' 'G5' 'G4' 'P2' 'Q9' 'Y1' 'RA' 'RP' 'O8' 'HR' 'G1' 'E7' 'I5'
 'R3' 'I4' 'H9' 'RH' 'D8' 'HB' 'J4' 'W2' 'P9' 'A7' 'D2' 'S0' 'O7' 'O9'
 'W3' 'HS' 'H6' 'J9' 'R0' 'HH' 'W8' 'W6' 'A1' 'K5' 'F1' 'V9' 'A2' 'V0'
 'G0' 'F4' 'E9' 'I3' 'W4' 'V3' 'I1' 'A6' 'Q8' 'A3' 'Z0' 'W1' 'U1' 'F2'
 'F9' 'GU' 'I6' 'G8' 'P5' 'Y3' 'W9' 'M2' 'G3' 'V6' 'K7' 'K3' 'R7' 'P8'
 'K6' 'V2' 'E2' 'Z2' 'T2' 'K8' 'P6' 'A0' 'H4' 'J1' 'CM' 'Z7']

============= UNIQUE_VALUE COL ADDRESS =============
['153 AVENUE B' '234 EAST 4TH   STREET' '197 EAST 3RD   STREET' ...
 '49 PITNEY AVENUE' '2730 ARTHUR KILL ROAD' '155 CLAY PIT ROAD']

============= UNIQUE_VALUE COL APARTMENT NUMBER =============
[' ' 'RES' 'UNIT1' ... '115' 'MS-B' '363']

============= UNIQUE_VALUE COL ZIP CODE =============
[10009     0 10002 10011 10001 10014 10010 10013 10038 10007 10036 10019
 10018 10003 10005 10004 10006 10016 10012 10026 10030 10031 10027 10035
 10037 10029 10039 10032 10128 10463 10034 10025 10022 10017 10167 10023
 10105 10033 10044 10280 10282 10281 10065 10021 10075 10028 10024 10069
 10040 10457 10458 10451 10456 10469 10466 10475 10468 10467 10460 10473
 10472 10464 10462 10803 10465 10459 10471 10453 10452 10454 10474 10455
 10461 10470 11228 11214 11220 11209 11219 11221 11233 11213 11206 11216
 11205 11238 11226 11204 11234 11217 11201 11218 11232 11230 11235 11212
 11237 11207 11236 11239 11231 11249 11224 11225 11208 11210 11203 11229
 11215 11223 11222 11211 11370 11691 11692 11102 11106 11103 11377 11105
 11101 11361 11360 11357 11358 11364 11693 11694 11426 11428 11004 11001
 11435 11411 11356 11354 11420 11368 11373 11372 11363 11362 11369 11378
 11040 11375 11355 11365 11367 11366 11374 11385 11005 11421 11379 11432
 11423 11412 11427 11429 11433 11414 11422 11415 11418 11413 11109 11104
 11416 11417 11419 11436 11434 11430 10312 10305 10314 10303 10310 10302
 10301 10304 10306 10308 10309 10307]

============= UNIQUE_VALUE COL RESIDENTIAL UNITS =============
[   5   28   16   10    6   20    8   44   15   24   30    0   47  132
    1    3    4    2   22    9  210   35   17   11    7   18   27   14
   12   21   40   19   48   79   55  529  476  317   42   23   25  107
  133   31   36   34   33   90   74   29   13  286  256  771  257   38
  311   41   51   76   54   45   72   56   68   37   50   26   61   60
  894   67  550  184   78  181   86  259  102  233  121   52 1641   96
   87  100  113   99   92   70  369   77  232  315   91   32   66   64
  109  387  153   59  193   62  103  146  287   94   46   84   75   65
   95   49   63   43  716  680  179   71   39   53  283  114   89   73
   83  498   81  162  127  222  130   58  159  462  142  948  129  889
  271  150  120   57  117  106   85  118  164  139  165  122  134  278
  135  324  180  405  136  168  144  152  138   88  244  291 1844  198
  148  175  296  446  420  335  143  128]

============= UNIQUE_VALUE COL COMMERCIAL UNITS =============
[   0    3    1    2    4   13    5   24    6   19   10   15   14    8
    7   35   42   55   17   38   12   27  422    9   23   52  318   20
   67   11  254   26   49   30   91   59   62   31   73   56   34   32
   18   22   28  147  184   25  172  436   16 2261   51   21  126]

============= UNIQUE_VALUE COL TOTAL UNITS =============
[   5   31   17   10    6   20    8   46   15   24   34    0   47  132
    1    4    2    3    7    9   16  211   32   13   19   35   18   14
   30   12   21   23   45   26   11   48   82   55   42   38   27  422
  538  482  323   52  318   67   25   22   28  107  137   36   37   96
  138   76   33  286  256  771  257   44  315   41   51   40   29   81
   54   72   56   68   74   39   50   61  902   70  551  254  185   78
  181   49   91   87  269  102  234  235  233   59   62   73   43  121
 1653  192  100  113   99   92   75  374   77  238  317   93   69   60
   64  111  395  155  193  103  146  287   94   84   65   95   63   71
   57  736  680  179   53  291   66  114   79   83  520  163  127  222
  130   90   58  159  462  142  955  129  889  109  147  271  150  120
  117  106   86  118  164  139  165  122  279  135  324  180  184  104
  405  136  168  172  436  145  152  140   89  148  244  295 1866  278
  198 2261  176  296  446  420  336  143  126  128]

============= UNIQUE_VALUE COL LAND SQUARE FEET =============
['1633' '4616' '2212' ... '11088' '208033' '10796']

============= UNIQUE_VALUE COL GROSS SQUARE FEET =============
['6440' '18690' '7803' ... '977' '2683' '64117']

============= UNIQUE_VALUE COL YEAR BUILT =============
[1900 1913 1920 1910 2009 1925 1902 1928 1930 1935 1937 1915 1950 1929
 1901 1940 2005    0 1989 2014 2008 1965 2013 2003 2006 2007 1951 1899
 1850 1905 1864 1917 1911 1983 1926 1963 1960 1889 1898 1939 1938 1927
 1909 1958 1904 1907 1987 1931 1984 1948 2004 1918 1875 2012 1973 2011
 1922 2001 1932 1980 1908 1953 1906 2015 1946 1921 2010 1954 1111 1924
 1990 1890 1991 1988 1895 2016 1957 1986 1966 1998 1870 1923 1969 2017
 1968 1934 1956 1982 1914 1903 1967 1840 1912 1964 1955 1961 1851 2000
 1959 1962 1945 1972 1976 1916 1880 1970 1846 1941 1952 1896 1985 1981
 1888 1947 1975 1974 2002 1994 1892 1894 1891 1996 1997 1949 1999 1800
 1979 1971 1977 1942 1978 1826 1881 1919 1883 1936 1993 1995 1933 1992
 1943 1944 1847 1829 1844 1835 1852 1856 1854 1832 1845 1849 1855 1871
 1893 1865 1882 1680]

============= UNIQUE_VALUE COL TAX CLASS AT TIME OF SALE =============
[2 4 1 3]

============= UNIQUE_VALUE COL BUILDING CLASS AT TIME OF SALE =============
['C2' 'C7' 'C4' 'D5' 'D9' 'D7' 'D1' 'C6' 'D0' 'D4' 'RR' 'R2' 'R4' 'S3'
 'S4' 'S5' 'R1' 'R8' 'R9' 'K4' 'M9' 'M3' 'RA' 'RK' 'RS' 'A9' 'A4' 'B3'
 'B1' 'S2' 'C0' 'R6' 'C5' 'C3' 'C1' 'D6' 'S9' 'O2' 'O1' 'O3' 'O5' 'O6'
 'K1' 'K2' 'L9' 'L8' 'L1' 'H1' 'H8' 'H3' 'R5' 'G9' 'G6' 'P7' 'M1' 'N2'
 'RB' 'RG' 'RT' 'K9' 'V1' 'GW' 'G2' 'I7' 'M4' 'Z9' 'B9' 'D3' 'I9' 'U6'
 'O4' 'L3' 'H2' 'E1' 'Z3' 'Q1' 'RW' 'C9' 'J5' 'N9' 'S1' 'A5' 'J8' 'B2'
 'C8' 'F5' 'G7' 'G5' 'G4' 'P2' 'Q9' 'Y1' 'RP' 'O8' 'HR' 'G1' 'E7' 'I5'
 'R3' 'I4' 'H9' 'RH' 'D8' 'HB' 'J4' 'W2' 'P9' 'A7' 'D2' 'S0' 'O7' 'O9'
 'W3' 'HS' 'H6' 'J9' 'R0' 'HH' 'W8' 'W6' 'A1' 'K5' 'F1' 'V9' 'A2' 'V0'
 'G0' 'F4' 'E9' 'I3' 'W4' 'V3' 'I1' 'A6' 'Q8' 'A3' 'Z0' 'W1' 'U1' 'F2'
 'F9' 'GU' 'I6' 'G8' 'P5' 'Y3' 'W9' 'M2' 'G3' 'V6' 'K7' 'K3' 'H4' 'R7'
 'P8' 'K6' 'V2' 'E2' 'Z2' 'T2' 'K8' 'P6' 'A0' 'J1' 'CM' 'Z7']

============= UNIQUE_VALUE COL SALE PRICE =============
['6625000' ' -  ' '3936272' ... '408092' '11693337' '69300']

============= UNIQUE_VALUE COL SALE DATE =============
['2017-07-19 00:00:00' '2016-12-14 00:00:00' '2016-12-09 00:00:00'
 '2016-09-23 00:00:00' '2016-11-17 00:00:00' '2017-07-20 00:00:00'
 '2017-06-20 00:00:00' '2016-11-07 00:00:00' '2016-10-17 00:00:00'
 '2016-09-06 00:00:00' '2017-03-10 00:00:00' '2017-04-28 00:00:00'
 '2017-06-09 00:00:00' '2017-07-14 00:00:00' '2017-03-16 00:00:00'
 '2016-09-01 00:00:00' '2017-08-17 00:00:00' '2016-09-07 00:00:00'
 '2017-08-30 00:00:00' '2017-06-21 00:00:00' '2017-01-30 00:00:00'
 '2017-07-07 00:00:00' '2017-08-04 00:00:00' '2017-01-09 00:00:00'
 '2017-04-18 00:00:00' '2017-06-19 00:00:00' '2017-08-28 00:00:00'
 '2017-05-10 00:00:00' '2016-12-02 00:00:00' '2017-01-31 00:00:00'
 '2017-06-28 00:00:00' '2016-12-07 00:00:00' '2017-08-24 00:00:00'
 '2017-06-27 00:00:00' '2017-03-17 00:00:00' '2017-06-14 00:00:00'
 '2017-01-17 00:00:00' '2017-01-11 00:00:00' '2017-04-21 00:00:00'
 '2017-06-29 00:00:00' '2016-10-05 00:00:00' '2017-02-02 00:00:00'
 '2017-03-20 00:00:00' '2017-04-13 00:00:00' '2017-06-06 00:00:00'
 '2017-07-17 00:00:00' '2016-12-06 00:00:00' '2017-07-13 00:00:00'
 '2017-05-17 00:00:00' '2017-05-31 00:00:00' '2017-07-12 00:00:00'
 '2017-01-19 00:00:00' '2017-05-03 00:00:00' '2016-09-29 00:00:00'
 '2017-08-07 00:00:00' '2017-01-20 00:00:00' '2017-02-23 00:00:00'
 '2016-09-12 00:00:00' '2017-08-09 00:00:00' '2017-04-07 00:00:00'
 '2017-05-11 00:00:00' '2016-10-13 00:00:00' '2016-10-19 00:00:00'
 '2016-12-30 00:00:00' '2017-02-24 00:00:00' '2016-09-21 00:00:00'
 '2016-11-03 00:00:00' '2017-03-31 00:00:00' '2017-05-25 00:00:00'
 '2017-02-14 00:00:00' '2017-02-01 00:00:00' '2017-05-08 00:00:00'
 '2017-08-14 00:00:00' '2017-06-23 00:00:00' '2017-03-27 00:00:00'
 '2017-04-22 00:00:00' '2017-07-06 00:00:00' '2017-06-12 00:00:00'
 '2017-06-22 00:00:00' '2017-02-17 00:00:00' '2016-09-08 00:00:00'
 '2016-12-23 00:00:00' '2017-07-24 00:00:00' '2016-10-08 00:00:00'
 '2016-12-08 00:00:00' '2017-04-25 00:00:00' '2016-12-13 00:00:00'
 '2017-01-12 00:00:00' '2017-03-03 00:00:00' '2017-01-25 00:00:00'
 '2016-12-19 00:00:00' '2016-12-16 00:00:00' '2016-12-29 00:00:00'
 '2017-01-13 00:00:00' '2016-12-21 00:00:00' '2017-03-30 00:00:00'
 '2017-04-14 00:00:00' '2017-05-22 00:00:00' '2017-05-19 00:00:00'
 '2017-02-08 00:00:00' '2016-11-08 00:00:00' '2017-03-02 00:00:00'
 '2017-01-05 00:00:00' '2016-10-11 00:00:00' '2016-11-15 00:00:00'
 '2017-04-03 00:00:00' '2016-11-28 00:00:00' '2016-11-14 00:00:00'
 '2017-04-20 00:00:00' '2017-05-05 00:00:00' '2016-11-16 00:00:00'
 '2017-07-18 00:00:00' '2017-05-15 00:00:00' '2017-07-31 00:00:00'
 '2017-06-07 00:00:00' '2016-11-02 00:00:00' '2017-04-19 00:00:00'
 '2017-07-11 00:00:00' '2016-09-28 00:00:00' '2017-01-06 00:00:00'
 '2016-10-20 00:00:00' '2017-03-28 00:00:00' '2017-04-17 00:00:00'
 '2016-10-26 00:00:00' '2017-02-06 00:00:00' '2017-03-23 00:00:00'
 '2017-08-31 00:00:00' '2017-07-27 00:00:00' '2016-11-10 00:00:00'
 '2016-10-28 00:00:00' '2016-12-05 00:00:00' '2016-11-29 00:00:00'
 '2016-11-21 00:00:00' '2017-01-27 00:00:00' '2016-09-26 00:00:00'
 '2017-02-21 00:00:00' '2016-10-06 00:00:00' '2017-08-25 00:00:00'
 '2016-11-30 00:00:00' '2017-02-16 00:00:00' '2017-03-01 00:00:00'
 '2016-10-31 00:00:00' '2016-12-20 00:00:00' '2016-11-18 00:00:00'
 '2017-04-10 00:00:00' '2016-11-23 00:00:00' '2016-12-27 00:00:00'
 '2017-05-12 00:00:00' '2017-02-15 00:00:00' '2017-07-10 00:00:00'
 '2017-03-06 00:00:00' '2017-06-30 00:00:00' '2017-07-26 00:00:00'
 '2017-03-22 00:00:00' '2017-03-08 00:00:00' '2016-09-14 00:00:00'
 '2017-04-26 00:00:00' '2016-09-27 00:00:00' '2017-04-27 00:00:00'
 '2016-12-01 00:00:00' '2017-01-23 00:00:00' '2016-11-04 00:00:00'
 '2016-10-07 00:00:00' '2017-06-05 00:00:00' '2017-05-23 00:00:00'
 '2017-01-26 00:00:00' '2016-12-28 00:00:00' '2017-05-02 00:00:00'
 '2017-03-07 00:00:00' '2017-05-01 00:00:00' '2016-10-14 00:00:00'
 '2016-12-15 00:00:00' '2016-11-01 00:00:00' '2016-09-15 00:00:00'
 '2016-10-01 00:00:00' '2016-10-24 00:00:00' '2016-11-11 00:00:00'
 '2017-02-09 00:00:00' '2017-07-25 00:00:00' '2017-03-15 00:00:00'
 '2016-09-16 00:00:00' '2017-03-29 00:00:00' '2017-06-26 00:00:00'
 '2016-10-18 00:00:00' '2016-12-22 00:00:00' '2016-09-09 00:00:00'
 '2016-11-09 00:00:00' '2017-05-04 00:00:00' '2017-06-13 00:00:00'
 '2017-02-10 00:00:00' '2017-04-24 00:00:00' '2017-05-24 00:00:00'
 '2017-02-28 00:00:00' '2017-04-11 00:00:00' '2016-10-25 00:00:00'
 '2017-08-21 00:00:00' '2017-08-29 00:00:00' '2017-08-01 00:00:00'
 '2017-06-08 00:00:00' '2017-08-23 00:00:00' '2016-10-27 00:00:00'
 '2017-06-02 00:00:00' '2017-06-16 00:00:00' '2016-11-22 00:00:00'
 '2017-07-05 00:00:00' '2016-09-13 00:00:00' '2017-03-13 00:00:00'
 '2017-01-03 00:00:00' '2017-01-04 00:00:00' '2017-01-18 00:00:00'
 '2017-05-18 00:00:00' '2017-05-30 00:00:00' '2017-01-10 00:00:00'
 '2017-08-11 00:00:00' '2017-08-02 00:00:00' '2017-07-28 00:00:00'
 '2017-06-15 00:00:00' '2017-08-22 00:00:00' '2016-09-02 00:00:00'
 '2017-02-03 00:00:00' '2017-04-06 00:00:00' '2017-02-07 00:00:00'
 '2017-05-26 00:00:00' '2017-08-10 00:00:00' '2017-01-24 00:00:00'
 '2016-12-26 00:00:00' '2017-08-18 00:00:00' '2017-02-13 00:00:00'
 '2016-09-30 00:00:00' '2017-04-12 00:00:00' '2017-05-09 00:00:00'
 '2016-10-29 00:00:00' '2017-02-27 00:00:00' '2017-01-01 00:00:00'
 '2017-06-01 00:00:00' '2016-10-03 00:00:00' '2017-08-15 00:00:00'
 '2016-12-12 00:00:00' '2016-12-17 00:00:00' '2017-08-03 00:00:00'
 '2016-09-22 00:00:00' '2016-12-31 00:00:00' '2016-10-04 00:00:00'
 '2016-09-20 00:00:00' '2017-03-21 00:00:00' '2017-08-08 00:00:00'
 '2017-04-05 00:00:00' '2017-08-16 00:00:00' '2017-02-22 00:00:00'
 '2017-02-04 00:00:00' '2017-05-16 00:00:00' '2017-03-24 00:00:00'
 '2017-03-09 00:00:00' '2017-07-21 00:00:00' '2017-04-04 00:00:00'
 '2016-09-19 00:00:00' '2017-01-07 00:00:00' '2016-10-21 00:00:00'
 '2017-04-29 00:00:00' '2017-07-22 00:00:00' '2017-02-20 00:00:00'
 '2016-10-23 00:00:00' '2017-01-02 00:00:00' '2016-10-12 00:00:00'
 '2017-07-15 00:00:00' '2016-10-16 00:00:00' '2017-03-14 00:00:00'

**HASIL ANALISIS** <br>
Pada beberapa kolom masih terdapat *unstandard missing values* yang tidak berhasil diidentifikasi oleh Pandas sebagai missing values. <br>
1. Kolom "Unnamed: 0" sebagai iterator dan tidak diperlukan, sehingga dihapus
2. Kolom 'TAX CLASS AT PRESENT' mengandung nilai (' ') yang diidentifikasi sebagai missing values
3. Kolom 'EASE-MENT' tidak mengandung informasi dan hanya memuat satu nilai (' ') yang diidentifikasi sebagai missing values, sehingga untuk selanjutnya akan dibuang
4. Kolom 'BUILDING CLASS AT PRESENT', 'APARTMENT NUMBER' mengandung nilai (' ') yang diidentifikasi sebagai missing values.
5. Kolom 'ZIP CODE', 'YEAR BUILT', 'TOTAL UNITS' mengandung nilai (0) yang diidentifikasi sebagai missing values
6. Kolom 'SALE PRICE'  mengandung nilai (' -  ') yang diidentifikasi sebagai missing values, selanjutnya nilai ini akan diganti dengan 0 dan dianggap tidak ada transaksi

### Data Cleaning

In [62]:
# Baca ulang dataset dengan menambahkan missing values
missing_values = ['n/a', 'na', "--", "?", "NA", 'n-a', 'NaN',' ',' -  ']
df_nyc_sales = pd.read_csv('dataset/nyc-rolling-sales.csv', na_values=missing_values)

In [63]:
# Mengganti 0 di kolom 'ZIP CODE', 'YEAR BUILT', 'TOTAL UNITS' dengan np.NaN

df_nyc_sales['YEAR BUILT']=df_nyc_sales['YEAR BUILT'].replace({0:np.nan})
df_nyc_sales['ZIP CODE']=df_nyc_sales['ZIP CODE'].replace({0:np.nan})
df_nyc_sales['TOTAL UNITS']=df_nyc_sales['TOTAL UNITS'].replace({0:np.nan})

In [64]:
# Tampilkan jumlah missing_values 
df_nyc_sales.isna().sum()

Unnamed: 0                            0
BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING CLASS CATEGORY               0
TAX CLASS AT PRESENT                738
BLOCK                                 0
LOT                                   0
EASE-MENT                         84548
BUILDING CLASS AT PRESENT           738
ADDRESS                               0
APARTMENT NUMBER                  65496
ZIP CODE                            982
RESIDENTIAL UNITS                     0
COMMERCIAL UNITS                      0
TOTAL UNITS                       19762
LAND SQUARE FEET                  26252
GROSS SQUARE FEET                 27612
YEAR BUILT                         6970
TAX CLASS AT TIME OF SALE             0
BUILDING CLASS AT TIME OF SALE        0
SALE PRICE                        14561
SALE DATE                             0
dtype: int64

Ternyata ditemukan banyak missing values, dibandingkan yang pertama (tidak terdeteksi).

### Penganangan Missing Values
#### 1. Menghapus kolom yang tidak diperlukan

In [65]:
# Kolom "Unnamed:0" karena iterator, "EASE-MENT" karena tidak berisi value,  "ADDRESS" dan "APARTEMENT NUMBER" karena tidak berisi nilai yang diperlukan.

removed_columns = ['Unnamed: 0', 'EASE-MENT','ADDRESS','APARTMENT NUMBER']
df_nyc_sales.drop(removed_columns,inplace=True, axis=1)

In [67]:
# Tampilkan kolom setelah diremove
df_nyc_sales.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'BUILDING CLASS AT PRESENT',
       'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

#### 2. Mengganti Missing Values

In [68]:
# Cek terlebih dahulu missing value tiap kolom
df_nyc_sales.isna().sum()

BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING CLASS CATEGORY               0
TAX CLASS AT PRESENT                738
BLOCK                                 0
LOT                                   0
BUILDING CLASS AT PRESENT           738
ZIP CODE                            982
RESIDENTIAL UNITS                     0
COMMERCIAL UNITS                      0
TOTAL UNITS                       19762
LAND SQUARE FEET                  26252
GROSS SQUARE FEET                 27612
YEAR BUILT                         6970
TAX CLASS AT TIME OF SALE             0
BUILDING CLASS AT TIME OF SALE        0
SALE PRICE                        14561
SALE DATE                             0
dtype: int64

In [69]:
# Mengganti nilai missing value pada kolom kategori dengan modusnya.
categoricals_columns = ['TAX CLASS AT PRESENT', 'BUILDING CLASS AT PRESENT', 'ZIP CODE', 'YEAR BUILT']
for cat_col in categoricals_columns:
    df_nyc_sales[cat_col].fillna(df_nyc_sales[cat_col].mode()[0],inplace=True)

In [70]:
# NOTICED : Mengganti nilai missing value dengan median (agar tidak terpengaruh outliers)
changed_median_columns = ['LAND SQUARE FEET', 'GROSS SQUARE FEET']
for float_col in changed_median_columns:
    df_nyc_sales[float_col].fillna(df_nyc_sales[float_col].median(),inplace=True)

#### Menghapus kolom yang masih memuat missing values dan duplikat

In [73]:
# NOTICED : Hapus "SALE PRICE" & "TOTAL UNITS" karena tidak bisa diartikan
df_nyc_sales.dropna(inplace=True)
df_nyc_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52363 entries, 0 to 84547
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         52363 non-null  int64
 1   NEIGHBORHOOD                    52363 non-null  object
 2   BUILDING CLASS CATEGORY         52363 non-null  object
 3   TAX CLASS AT PRESENT            52363 non-null  object
 4   BLOCK                           52363 non-null  int64
 5   LOT                             52363 non-null  int64
 6   BUILDING CLASS AT PRESENT       52363 non-null  object
 7   ZIP CODE                        52363 non-null  float64
 8   RESIDENTIAL UNITS               52363 non-null  int64
 9   COMMERCIAL UNITS                52363 non-null  int64
 10  TOTAL UNITS                     52363 non-null  float64
 11  LAND SQUARE FEET                52363 non-null  float64
 12  GROSS SQUARE FEET               52363 non-null  float64
 13  YEAR BUILT                      52363 non-null  float64
 14  TAX CLASS AT TIME OF SALE       52363 non-null  int64
 15  BUILDING CLASS AT TIME OF SALE  52363 non-null  object
 16  SALE PRICE                      52363 non-null  float64
 17  SALE DATE                       52363 non-null  object
dtypes: float64(6), int64(6), object(6)
memory usage: 7.6+ MB

In [74]:
# Cek baris duplikat dan hapus
df_nyc_sales[
    df_nyc_sales.duplicated()
]

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
208,1,CHELSEA,01 ONE FAMILY DWELLINGS,1,772,29,A4,10011.0,1,0,1.0,1588.0,5653.0,1900.0,1,A4,10.0,2017-01-30 00:00:00
209,1,CHELSEA,01 ONE FAMILY DWELLINGS,1,772,29,A4,10011.0,1,0,1.0,1588.0,5653.0,1900.0,1,A4,10.0,2017-01-30 00:00:00
683,1,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,774,1042,R4,10001.0,1,0,1.0,2325.0,1680.0,1920.0,2,R4,1500000.0,2016-10-05 00:00:00
2296,1,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,24,1123,R4,10004.0,1,0,1.0,2325.0,1680.0,1982.0,2,R4,1200000.0,2017-04-28 00:00:00
3427,1,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,879,1207,R4,10010.0,1,0,1.0,2325.0,1680.0,2009.0,2,R4,716000.0,2017-04-07 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83176,5,TODT HILL,01 ONE FAMILY DWELLINGS,1,908,150,A1,10304.0,1,0,1.0,38862.0,3900.0,1920.0,1,A1,1125000.0,2017-08-02 00:00:00
83207,5,TOMPKINSVILLE,02 TWO FAMILY DWELLINGS,1,114,30,B2,10301.0,2,0,2.0,5781.0,844.0,1942.0,1,B2,250000.0,2017-06-22 00:00:00
83603,5,WEST NEW BRIGHTON,01 ONE FAMILY DWELLINGS,1,91,31,A1,10301.0,1,0,1.0,4840.0,2400.0,2005.0,1,A1,585000.0,2016-09-21 00:00:00
83647,5,WEST NEW BRIGHTON,01 ONE FAMILY DWELLINGS,1,155,180,A1,10310.0,1,0,1.0,10671.0,2464.0,1899.0,1,A1,725000.0,2017-06-30 00:00:00
84445,5,WOODROW,01 ONE FAMILY DWELLINGS,1,6969,20,A5,10309.0,1,0,1.0,2773.0,1650.0,1999.0,1,A5,560000.0,2016-09-07 00:00:00

In [76]:
# 367 data duplikat dihapus
df_nyc_sales.drop_duplicates(subset=df_nyc_sales.columns,keep='first', inplace=True)
df_nyc_sales.shape   #Tampilkan dimensi setelah penghapusan

(51996, 18)